/*******************************************************************************
* WAYBAR
* Modules center configuration
*******************************************************************************/

.modules-left {
    padding-left: 5pt;
    padding-right: 5pt;
    background-position: left;
    /* background-image: radial-gradient(circle at right, green 50%, red 50%); */
    /* background-image: radial-gradient(circle at left, transparent 50%, purple); */
    background-repeat: no-repeat;
    background-size: 10pt;
    background-color: yellow;
}
