@import url("catpucchino-frappe.css");

/*
** TODO: utiliser un mélange de style :
** -> Le "arrow style" https://github.com/mxkrsv/dotfiles-old/blob/master/.config/waybar/style.css
** -> le côté "candy" https://github.com/theCode-Breaker/riverwm/blob/main/waybar/river/river_style.css
*/

/*
** ALL BARS
*/
 /* Reset all styles */
* {
    border: none;
    border-width: 0px;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

#waybar {
    font-family: JetBrains Mono, MesloLGS Nerd Font Mono, FontAwesome;
    font-size: 15px;
    font-weight: 700;
	background: none;
    background-color: @base;
}
/*
** Workspaces
*/

#workspaces button {
    padding-left: 5pt;
    padding-right: 5pt;
    background-color: @rosewater;
}

#workspaces button.focused {
    color: @rosewater;
    background-color: @overlay2;
}

#workspaces button:first-child {
    padding-left: 10pt;
}

#workspaces button:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10pt;
    border-width: 10px;
}
/*
** Window
*/
/* Window icon isnt in window box. Bug ? */
/* Workaround -> select based on box place (2nd module) */
#waybar.empty .modules-left widget > box {
    background: none;
}
.modules-left widget:nth-child(2) > box {
    padding-left: 15pt;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10pt;
    background: radial-gradient(10pt 10pt at left, transparent 100%, @pink);
}
/*
** Modules center
*/
.modules-center widget box:first-child {
    padding-left: 15pt;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 10pt;
}
.modules-center widget box:last-child {
    padding-right: 15pt;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10pt;
}
/*
** Tray
*/
#tray {
    background-color: @mauve;
}

/*
** Modules right
*/
#mode {
    background-color: @red;
}
#bluetooth {
    background-color: @maroon;
}
#pulseaudio-slider {
    background-color: @peach;
}
#pulseaudio.sink {
    background-color: @yellow;
}
#pulseaudio.source {
    background-color: @green;
}
#backlight {
    background-color: @teal;
}
#clock.week {
    background-color: @sky;
}
#clock.date {
    background-color: @sapphire;
}
#clock.time {
    background-color: @blue;
}

/*
** Custom logo
*/

#custom-logo {
    font-size: 30px;
    margin-bottom: -10;
    margin-top: -10;
}


/*
#son {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
	border-radius: 9999px;
	transition: none;
} */


/*
** Slider styles
*/

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #A1BDCE;
  background-color: transparent;
  box-shadow: none;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 90px;
  min-height: 10px;
  margin-left: -4px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096C0;
}

/*
** arrow
*/
